<div class="container">
    <div>
        <button ui-sref="addPlace" type="button" class="pull-right btn btn-success btn-outline-success">Add</button>
        <h3>Places</h3>
        <div>
            <form class="row" ng-submit="placesCtrl.searchPlace()">
                <div class="form-group col-md-3">
                    <label for="locationNameLabel">Location Name</label>
                    <input type="text" class="form-control" id="locationName" placeholder="San Francisco" ng-model="placesCtrl.query.locationName">
                </div>
                <div class="form-group col-md-2">
                    <label for="countryLabel">Country</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Pakistan" ng-model="placesCtrl.query.country">
                </div>
                <div class="form-group col-md-2">
                    <label for="cityLabel">City</label>
                    <input type="text" class="form-control" id="cityLabel" placeholder="Karachi" ng-model="placesCtrl.query.city">
                </div>
                <div class="form-group col-md-2">
                    <label class="mr-sm-2" for="radiusLabel">Radius</label>
                    <select class="custom-select mb-2 mr-sm-2 col-md-12" id="radiusLabel" ng-model="placesCtrl.query.radius">
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    </br>
                    <input type="submit" class="form-control btn btn-primary" placeholder="Search" style="margin-top: 8px;">
                </div>
            </form>
        </div>
    </div>

    <br/>
    <div class="jumbotron" ng-repeat="place in placesCtrl.itemsList.rows">
        <div class="row">
            <div class="col-md-3">
                <img src="http://localhost:8000/uploads/{{place.image}}" alt="{{place.locationName}}" class="img-thumbnail">
            </div>
            <div class="col-md-9">
                <h2 class="inline-block">
                    <span>{{place.locationName}}</span>
                    <i class="fa fa-heart-o" aria-hidden="true" ng-if="!place.isFavorite" ng-click="placesCtrl.markFavorite(place)"></i>
                    <i class="fa fa-heart" aria-hidden="true" ng-if="place.isFavorite" ng-click="placesCtrl.markFavorite(place)"></i>
                </h2>
                <span class="label label-default pull-right">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" ng-if="place.can_edit" ng-click="placesCtrl.edit(place._id)"></i> 
                    {{place.country}}, {{place.city}}
                </span>
                <p>
                    {{place.description}}
                </p>
            </div>
        </div>
    </div>
</div>